.main {
  display: block;
  text-align: center;
  justify-content: center;
}

.fieldset{
  display: block;
  border-radius: 10px;
  border: 2px solid black;
  width: ;
  height: ;
}

.legend{
  font-size: ;
  font-family: ;
  color: ;
  text-shadow: ;
}

.inputText{
   border-bottom: 2px solid black;
   color: ; 
   font-size: ;
   font-family: ;
}

.buttom{
  width: ;
  height: ;
  color: ;
  font-size: ;
}