.main {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: rows;
}

.busca{
  display: block;
  border: 1px solid black;
  width: 450px;
}

.legend{
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: black;
}

.informacao {
  display: block;
  border: 1px solid black;
}

.inputText{
   border-bottom: 2px solid black; 
   border-radius: 10px;
   width: 400px;
   font-size: 20px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   margin-top: 30px;
   margin-bottom: 15px;
}

.botao{
  margin-top: 40px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 20px;
  background-color: #afffbb;
}