/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[7].use[3]!./src/app/page.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
.page_main__ibFHK {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
}

.page_fieldset__dOTWn{
  display: block;
  border-radius: 10px;
  border: 2px solid black;
  width: 500px;
  height: 200px;
  margin: 250px 400px ;
}

.page_legend___BCM_{
  font-size: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: black;
}

.page_inputText__hBj2b{
   border-bottom: 2px solid black; 
   border-radius: 10px;
   width: 400px;
   font-size: 20px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   margin-top: 30px;
   margin-bottom: 15px;
}

.page_divB__i5b22{
  border-top: 1px solid black;
  padding-bottom: 5px;
}

.page_buttom__pKBOT{
  margin-top: 15px;
  width: 1000px;
  height: 50px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 20px;
  background-color: #afffbb;
}
