/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[7].use[3]!./src/app/page.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
.page_main__ibFHK {
  text-align: center;
}

.page_container__HHToX {
  display: flex;
  flex-direction: rows;
}

.page_busca__LCOD5{
  display: block;
  border: 1px solid black;
  width: 450px;
}

.page_legend___BCM_{
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: black;
}

.page_informacao__h88CV {
  display: block;
  border: 1px solid black;
}

.page_inputText__hBj2b{
   border-bottom: 2px solid black; 
   border-radius: 10px;
   width: 400px;
   font-size: 20px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   margin-top: 30px;
   margin-bottom: 15px;
}

.page_botao___nMZH{
  margin-top: 40px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 20px;
  background-color: #afffbb;
}
